body {
  background-color: #f8feff; }
  body nav {
    background-color: #5882cf;
    height: 80px;
    margin-bottom: 10px; }
  body h1 {
    font-family: "style script", "sans-serif";
    font-size: 45px;
    text-align: center; }
  body h2, body h3 {
      text-align: center;
      font-family: "roboto condensed", "sans-serif"; }  
  body a {
    text-decoration: none !important; }
  body img {
    height: 550px;
    width: 100%; }
  body footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    list-style: none;
    width: 100%; }
    body footer a {
      text-decoration: none;
      color: white; }
    body footer ul {
      list-style: none; }

main ul li {
  width: 24%;
  display: inline-block; }

header a {
  font-family: "style script", "sans-serif";
  font-size: 45px;
  text-align: center; }

article h2, article h3 {
  text-align: center;
  font-family: "roboto condensed", "sans-serif"; }

article div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #9bb4c8; }
  article div img {
    height: 250px; }

article button {
  background-color: #5882cf;
  text-align: center;
  color: white;
  border-radius: 10%;
  height: 30px;
  width: 30%;
  font-size: initial;
  padding-bottom: 30px !important; }

.travelform {
  background-color: #5882cf;
  color: white;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px; }

.travelform_div {
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.travelform_button {
  margin-left: 45px; }

.nav-mobile {
  display: none; }

.header_footer_color {
  text-align: center;
  color: white;
  background-image: linear-gradient(#3c5ba1, #398dd3); }

.nav_lista {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-left: 75px; }

.nav_lista_item {
  font-size: larger;
  font-family: "roboto condensed", "sans-serif";
  margin-right: 150px; }

.div_img {
  display: flex;
  justify-content: center; }

.commentcard {
  margin-top: 15px;
  margin-bottom: 15px; } 
  
.carousel_img {
  width: 100%; }

.img-contacto {
  width: 90%; }

.historia, .contactform {
  text-align: center;
  margin-bottom: 20px; }

.roboto-p {
  font-size: x-large; }

button:hover {
  background-color: #3caffb;
  color: #3a3838; }

.forse {
  background-color: #5882cf; }

.dontknowbtn {
  background-color: transparent;
  border-style: none;
  color: whitesmoke; 
}
@media (max-width: 576px) {
  main ul {
    padding-left: 2px; }
    main ul li {
      display: block;
      width: 100%;
      margin-bottom: 20px; }
  article button {
    width: 50%; }
  body img {
    height: 400px;
    margin-bottom: 20px; }
  body footer {
    display: flex;
    flex-direction: column;
    list-style: none; }
    body footer a {
      text-decoration: none;
      color: white; }
  .header-web {
    display: none; }
  .brand {
    font-size: xx-large !important; }
  nav div {
    display: inline-block; }
  .nav_lista {
    display: none; }
  .navdesktop {
    display: none !important; }
  .nav-mobile {
    display: block;
    text-align: center; }
    .nav-mobile a {
      color: whitesmoke;
      font-family: "style script", "sans-serif";
      display: inline-block; }
    .nav-mobile button {
      font-family: "roboto condensed", "sans-serif"; }
  .dropdown-item {
    font-size: x-large;
    font-family: "roboto condensed", "sans-serif"; }
  .section-grid {
    display: block; }
  section input {
    height: 30px;
    margin-right: 10px; }
  section select {
    height: 30px;
    margin-right: 10px; }
  section button {
    height: 30px;
    margin-right: 10px; }
  .travelform {
    background-color: #5882cf;
    color: white;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px; }
  .travelform_div {
    padding: 15px;
    display: contents; } }

@media (max-width: 768px) and (min-width: 577px) {
  main ul {
    display: inline-block;
    padding-left: 2px; }
    main ul li {
      display: inline-block;
      width: 48%;
      margin-left: 5px;
      margin-bottom: 20px; }
  body img {
    height: 400px;
    margin-bottom: 20px; }
  body footer {
    display: flex;
    flex-direction: column;
    list-style: none; }
    body footer a {
      text-decoration: none;
      color: white; }
  .header-web {
    display: none; }
  .brand {
    font-size: xx-large !important; }
  nav div {
    display: inline-block; }
  .nav_lista {
    display: none; }
  .navdesktop {
    display: none !important; }
  .nav-mobile {
    display: block;
    text-align: center; }
    .nav-mobile a {
      color: whitesmoke;
      font-family: "style script", "sans-serif";
      display: inline-block; }
    .nav-mobile button {
      font-family: "roboto condensed", "sans-serif"; }
  .dropdown-item {
    font-size: x-large;
    font-family: "roboto condensed", "sans-serif"; }
  .section-grid {
    display: block; }
  .travelform {
    background-color: #5882cf;
    color: white;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px; }
  .travelform_div {
    padding: 15px;
    display: contents; }
  section input {
    height: 30px;
    margin-right: 10px; }
  section select {
    height: 30px;
    margin-right: 10px; }
  section button {
    height: 30px;
    margin-right: 10px; } }

@media (max-width: 991px) and (min-width: 769px) {
  article button {
    width: 50%; }
  nav a {
    font-family: "style script", "sans-serif";
    font-size: x-large;
    padding-left: 2px; }
  .nav_lista {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-left: 0px;
    align-items: center;
    color: #dee2e6;
    background-color: #343a40;
    border-color: rgba(0, 0, 0, 0.15); }
  section input {
    height: 30px;
    margin-right: 10px; }
  section select {
    height: 30px;
    margin-right: 10px; }
  section button {
    height: 30px;
    margin-right: 10px; }
  .travelform {
    height: 10%; }
  .travelform_div {
    width: 100%;
    height: 69px; } }
